.navbar{
    display: flex;
    flex-direction: row;   
    align-items: space-between;
    text-align: center;
}

nav a.navbar-brand > img{
    height:50px;
}

.navbar-nav > li > a::after {
    /* content: "|"; */
    padding: 0px 0px 0px 10px;
    color:rgb(128, 126, 126);
}

.navbar-nav > li {
    font-size: 22px;
}

.nav-link{
    padding: 0;
}

.td1{
    text-align: left;
    color: #797979;
    font-size: 10px;
    padding: 0;
}

.td2{
    color: #797979;
    font-size: 10px;
    text-align: left;
    width: 35px;
    border-right: #797979 1px solid;
}

.td3{
    color: #797979;
    font-size: 10px;
    text-align: left;
    padding-left: 4px;
}

.filtrai{
    /* border: 1px solid; */
    padding: 5px;
}

.input-group{
width: 300px;
height: 30px;
}

section{
    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
}


.category{
    /* background-color: #E9ECEF;  */
    margin-bottom: 0;
}

.breadcrumb{
    margin: 0;
    padding: 8px 16px;
}

footer{
    min-height: 50px;;
    font-size: 34px;
}

@media only screen and (min-width: 600px) {
    .top-wrapper{
        padding:6rem 0px;
    }
}

@media only screen and (min-width: 1200px) {
    .top-wrapper{
        padding:9rem 0px;
    }
}

.container-prekes{
    margin-top: 10px;
    display: flex;
    flex-direction: row;   
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-content: space-between;
}

.kaire{
    background-color: antiquewhite;
    margin-right: 10px;
    width: 25%;
}


#kaire .ico{
    font-size: 86px;
}

#kaire h4{
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    font-size:  30px;
}

.desine-outer{
    background-color:antiquewhite;
    width: 75%;
    /* display: flex; */
    flex-wrap: wrap;
}

.results{
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    text-align: center;
    padding: 5px;
}

.items-found{
    text-align: left;
}

.cell1{
    border: 1px solid lightgray;
}

.view{
    height: 20px;
}
.hr-holder{
    width: 100%;
    padding: 5px 5px 0 5px;
}

hr{
    border: 1px solid lightgray;
    width: 100%;
    margin: 0 0 -10px 0;
}

.desine-inner{
    padding: 0px 5px;
    background-color:antiquewhite;
    /* width: 75%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card1{
    width: 33%;
    text-align: center;
    font-size: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 9px 9px 15px 0px #797979;
    display: inline-block;
    margin-bottom: 10px;
}

.image-item{
    width: 65%;
}

.card-body p{
    text-align: left;
    margin-bottom: 0;
}

#contactForm{
    /* background: #E9ECEF; */
    /* padding: 10px 0; */
    /* min-height: 300px; */
}

#contactForm h3{
    color:rgb(121, 108, 108);
}

.contact-form{
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article{
    border: 1px solid;
}

#googleMaps{
    min-height: 300px;
}

.map{
    width: 50%;
    height:300px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
}

.test{
    height: 300px;
    background: lime;
}

.whateverDiv{
    background: orange;
    width:300px;
}

.text-center{
    color: black;
}