/1 paskaita
/2 paskaita
/FE-P1.zip
/FE-P2
/FE-P2.zip
/FE-P3
/FE-P3.zip
/green test.png
/green1.jpg
/green2.jpg
/keyboard-shortcuts-windows.pdf
/layout
/layout.zip
/OneDrive_1_15-02-2021.zip
/pointer 1.png
/pointer 32.png
/pvz. index.html
/smile.jpg
/smile1.jpg
/smile1.png
/smiley.png
/Testukas Algirdo Bagdonavičiaus.docx
/Web CV advanced.jpg
/webcv example.JPG
/webcv example.png
/workspace.code-workspace