body {
  background-color: lightgrey;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.pageInner {
  background-color: white;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-image: url("../images/green.png");
  background-repeat: no-repeat;
  z-index: 1;
  background-size: 100%;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px){
  .pageInner{
    flex-wrap: wrap;
  } 
}

.pageOuter {
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.container1 {
  background-color: rgb(34, 33, 33);
  position: relative;
  z-index: -1;
  width: 35%;
  min-width: 200px;
  flex-direction: row;
  display: block;
  position: relative;
  margin: 0px auto;
  text-align: center;
  place-items: center;
  padding: 15px;
}

.header1 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: green;
  font-size: 15px;
  border-bottom: 2px solid gray;
  padding-bottom: 5px;
}

.cell01 {
  width: 90px;
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  text-align: left;
}

.cell02 {
  width: 100%;
  /* min-width: 100px; */
  display: flex;
  flex-direction: row;
}

.horizontalLineGreen {
  /* width: 30%; */
  border-width: 0;
  height: 6px;
  background-color: green;
  margin-block-start: 0;
  margin-block-end: 0;
}

.horizontalLineGray {
  /* width: 60%; */
  border-width: 0;
  height: 6px;
  background-color: gray;
  margin-block-start: 0;
  margin-block-end: 0;
}
.container2 {
  width: 65%;
  min-width: 300px;
  display: block;
  position: relative;
  margin: 0px auto;
  text-align: center;
  place-items: center;
  padding: 15px;
}

.algirdas {
  width: 100%;
  padding-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  font-size: 25px;
  font-weight: 700;
}

.kas {
  margin-top: -10px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  font-size: 16px;
  font-weight: 600;
}

.header2 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: black;
  font-size: 15px;

  padding-bottom: 5px;
}

.myTable1 {
  width: 100%;
  border-bottom: 2px solid gray;
}

.cell0 {
  width: 33%;
  font-size: 11px;
}

.imageCV {
  position: relative;
  width: 100%;
  z-index: 2;
}

.text1 {
  text-align: justify;
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

.myTable2 {
  width: 100%;
  padding-left: 13px;
  font-size: 10px;
}

.row {
  padding-bottom: 10px;
}
.cell1 {
  width: 15%;
  text-align: center;
}

.cell2 {
  width: 10%;
  text-align: center;
}

.cell3 {
  width: 70%;
  text-align: justify;
}

.myTable3 {
  width: 100%;
  font-size: 10px;
  /* border: 1px solid gray; */
  padding-left: 13px;
}

.myTable3 td {
  width: 35%;
  text-align: left;
  /* border: 1px solid blue; */
}

.ul {
  text-align: left;
  /* border: 1px solid brown; */
  margin: 0;
  padding-inline-start: 10px;
}

.li {
  text-align: left;
  list-style-type: square;
  /* border: 1px solid red; */
}

.YouTube {
  width: 80%;
  height: 300px;
  padding: 15px 0px;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.linijaApacioje {
  border-bottom: 2px gray solid;
  width: 100%;
}

.divasLinijai{
  margin: -30px 10px 0px 10px;
  padding: 0px 15px;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 11;
}