header{
    padding: 15px;
    border: 3px solid blue;
    border-radius: 5px;
    margin: 10px 25px;
}

body{
    background-color: grey;
    background-image: url('../img/piano.jpg');
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}

footer{
    padding: 15px;
    border: 3px dotted green;
    border-radius: 5px;
    margin: 10px 25px;
}

.main{
    border: 3px solid yellow;
    border-radius: 5px;
    margin: 10px 25px;
    padding: 5px 10px;
}

.logo {
    border-radius: 50%;
    width: 120px;
    display: inline-block;
    padding: 5px;
}

.flex-container{
    display: inline-block;
}
