body{
    background-image: url("../img/water1a.jpg");
}

.central-main{
    margin-top: 100px;
    width: 400px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.central-inner{
    width: 350px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    background-color: rgba(var(--d87,255,255,255),1);
    border: 1px solid #dbdbdb;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    margin: 0 0 10px;
    padding: 10px 0; 
}

.store{
    font-family: 'Cookie', cursive;
    font-size: 60px;
    font-weight: 500;
    margin: 10px auto 0px auto;
}


.iconLogin{
    width: 150px;
}

.input-field{
    width: 258px;
    height: 36px;
    padding: 9px 0px 7px 8px;
    background-color: #fafafa;
    border-radius: 3px;
    border-color: lightgray;
    box-sizing: border-box;
    border: 1px solid lightgray;
    font-size: 11px;
    color: gray;
    margin-bottom: 5px;
}

.btn{
    width: 258px;
    height: 30px;
    background-color: rgb(147, 198, 231);
    color: #fff;
    border-radius: 3px;
    border: 0px;
    font-weight: 600;
    text-decoration: none;
}

.linijaOr{
    width: 258px;
    height: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    color: gray;
    align-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.line{
    width: 115px;
    border: 0px solid lightgray;
    border-bottom: 1px lightgray solid;
}

.facebook{
    width: 258px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(37, 76, 148);
    /* border: 1px solid; */
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.face{
    text-decoration: none;
}

.forgot{
    text-align: center;
    color: rgb(37, 76, 148);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.account{
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.sign-up{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

.central-inner-get-the-app{
    width: 350px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 10px;
    padding: 10px 0; 
}

.central-inner-low{
    width: 350px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 10px;
    padding: 10px 0; 
}

.image{
    width: 136px;
    height: 40px;
}
