.page{
    background-color: white;
    width: 35%;
    border: 1px solid gray;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;

}

.container{
    display: flex;
    flex-direction: row;
    /* margin: 0 auto; */
    justify-content: space-between;
}

.headerText{
    /* padding: 20px; */
}

.header2{
    text-align: left;
    font-family: 'Anton', sans-serif;
    font-weight: 600;
    font-size: 20px;
    /* padding-bottom: 20px; */
}

.myTable{
    width: 100%;
    /* border-bottom: solid lightgrey; */
}

.myTable td{
    border-bottom: 1px solid lightgrey;
}

.cell1{
    width: 30%;
}

.cell2{
    width: 40%;
}

.cell3{
    width: 25%;
    text-align: center;
}

.name{
    padding-top: 20px;
    text-align: left;
    font-family: 'Anton', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.imageCV{
    width: 120px;
    border-radius: 50%;
    /* padding: 20px; */
}

.apieMane{
    border: 3px dotted black;
    padding: 5px 15px;
    margin: 20px 0px;
    text-align: justify;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: lightgrey;
    width: 100%;
}

.headerText2{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.uli {
    list-style-type: square;
}

.container2{
    width: 400px;
    display: block;
    position: relative;
    margin: 0px auto;
    text-align: center;
    place-items: center;
}

.inputField{
    width: 300px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.button{
    width: 200px;
    background-color: rgb(56, 221, 56);
    text-align: center;
}

.button:hover{
    cursor: url('../images/pointer 32.png'), auto;
    /* cursor: pointer; */
    background-color: yellow;
}