.container {
    font-size: 20px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: DodgerBlue;
    background-color: rgb(236, 229, 220);
    border: solid 2px blue;
    border-radius: 10px;
    width: 320px;
}

.rezultatas {
    font-size: 20px;
    padding: 20px 20px;
    margin: 0 auto;
    margin-top: 20px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: DodgerBlue;
    background-color: rgb(238, 240, 209);
    border: solid 2px red;
    border-radius: 10px;
    width: 320px;
}


.calc1 {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    display: flex;
    /* align-items: center; */
    color: rgb(5, 25, 46);
    background-color: rgb(236, 229, 220);
    border: solid 2px blue;
    border-radius: 10px;
    width: 360px;
} 

.calc2 {
    margin: 0 auto;
    /* margin-top: 20px; */
    text-align: center;
    display: flex;
    /* align-items: center; */
    /* color: rgb(5, 25, 46);
    background-color: rgb(236, 229, 220);
    border: solid 2px blue;
    border-radius: 10px; */
    width: 60px; 
} 

.calc {
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: center;
    /* vertical-align: auto; */
    /* display: flex; */
    /* align-items: center; */
    /* color: rgb(5, 25, 46);
    background-color: rgb(236, 229, 220);
    border: solid 1px blue;
    border-radius: 10px;
    width: 340px; */
} 