body{
background-color: lightgray;
}

.bendras{
    padding: 10px 0px 10px 20px;
    width: 50%;
    width: 666px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px black solid; */
    border-radius: 5px;
    background-color: white;
    justify-content: space-between;
}

.kaire{
    width: 49%;
    text-align: left;
}

.eilute1{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: gray;
    margin: 10px 0px 0px 0px;
    /* font-weight: 0; */
}

.eilute2{
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: rgb(20, 19, 19);
    margin: 10px 0px 0px 0px;
    /* font-weight: 0; */
}

.dataIrNuoroda{
    margin-bottom: 15px;
}

.data{
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: gray;
    margin: 10px 0px 10px 0px;
}

.nuoroda{
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: gray;
}

.laukeliai{
    width: 100%;
    position: relative;
    display: grid;
    grid-auto-columns: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fieldSk{
    position: relative;
    width: 136px;
    height: 36px;
    border-radius: 5px;
    padding: 0px 0px 0px 12px;
    border: 1px solid lightgrey;
    margin-right: 15px;
    color: gray;
    font-size: 16px;
}

.fieldCurrency{
    position: relative;
    width: 150px;
    height: 38px;
    border-radius: 5px;
    padding: 0px 0px 0px 8px;
    border: 1px solid lightgrey;
    color: black;
}

.chartDiv{
    width: 49%;
    height: 200px;
    margin: 0 auto;
    /* border: 1px solid red; */
    /* text-align: left; */
}

.apacia{
    /* margin-top: 16px; */
    width: 652px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linija{
    width: 38%;
    height: 1px;
    border-width: 0;
    background-color: lightgray;
    margin-inline-start: 0;
    margin-top: 17px;
}

.morningstar{
    font-family: Arial, sans-serif;
    text-align: right;
    font-size: 12px;
    color: gray;
}

/* .grafikas{
    padding: 15px 0px 0px 0px;
    width: 323px;
} */

